.glow-orange {
    box-shadow: 0 0 15px rgba(240, 90, 53, 0.4);
}

.glow-orange:hover {
    box-shadow: 0 0 25px rgba(240, 90, 53, 0.7);
}

/* Hiệu ứng trượt nhẹ cho ảnh */
.img-hover-zoom {
    transition: transform 0.5s ease;
}
.group:hover .img-hover-zoom {
    transform: scale(1.05);
}